.navbar{
    background-color: #222222;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 20vh;
    line-height: 10vh;
}
.nav-container{
    padding-top: 25px;
    padding-left: 30px;
}
nav ul li{
    display: inline-block;
    transition: all 0.5s ease-in;
    margin: 0 30px 0 0;
}
nav ul li a{
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
nav ul li a:hover{
    color: #31b675;
}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none; 
}
.meni-icon a
{
    text-decoration: none;
    color: #fff;
   font-size: 25px;
   font-weight: 400;
}
.meni-icon span{
    color: #31b675;
    font-size: 40px;
}
nav i{
    color: #fff;
}
 

.login-area a{
    font-weight: 100;
    opacity: 0.8;
    font-size:15px ;
    padding-right: 10px;
    font-weight: 600;
    
}
.login-area button{
    margin-left: 20px;
}
.login-area button:hover{
    color: #c2b1b1;  
}

@media screen and (max-width:768px){
    .login-area{
        position: absolute;
        right: 20px;
    }
    .navbar{
        text-align: center;
    }
    nav ul{
        display: block;
        width:100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    nav ul li{
       display: block;
    }
    nav ul.active{
        background-color: #31b675;
        left: 0;
        opacity: 1;
        transition: 0.5s;
        z-index: 100;
    }
    nav ul li a{
        font-weight: 400;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        font-size: 2rem;
    }
}


header{
    padding: 40px 0 20px 0;
    background-color: #fff; 
 }
 header .box {
     margin: 0 0 0 30px;
 }
 header a{
     font-size: 13px;
     color: grey;
 }
 header i{
     font-size: 40px;
     color: #31b675;
     margin-right: 15px;
 }
 header .text{
     margin-top: 10px;
 }
 header h4{
     line-height: 10px;
 }
 header .logo img{
     width: 80px;
     
 }
 header .logo {
     font-weight: bold;
     font-size: 35px;
 
    
     
 }
 header .icons img{
     width: 50px;
     
 }
 header .icon {
    margin-top: 10px;
 }
 header .icon img{
     width: 40px;
     padding-right: 5px;
    
     
 }
 